* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  background-color: rgb(247, 247, 247);
}

.header-container {
  background-color: #5C687C;
  display: flex;
}

.logo-container {
  display: flex;
  justify-content: center;
  /* defina o tamanho Flexbox base para o container da imagem 268px */
  flex-basis: 268px;
  /* modifique a ordem em que o logo e os itens do menu aparecem na tela. Após aplicar a propriedade */
  order: -1;
}

.menu-container {
  display: flex;
  /*defina o tamanho Flexbox base para o container do menu 500px */
  flex-basis: 500px;
  /*  faça o container do menu crescer, quando houver espaço disponível.  */
  flex-grow: 1;
}

.menu-container ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.menu-container li {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  list-style: none;
  margin-right: 10px;
}